@import url('https://fonts.googleapis.com/css?family=Jura&subset=cyrillic');

@media (max-width: 48em) {

    .font-scale {
        font-size: 0.8em;
    }

}

* {
    font-family: Jura, sans-serif;
}

body {
    position: relative;
    background-image: url(../images/background.jpg);
}

table {
    text-align: center;
}

table td:nth-child(1) {
    text-align: left;
}

footer {
    padding: 3em 1em 1em 1em;
}

a {
    color: inherit;
    transition: color 1.5s;
}

a:hover {
    color: #a82e2e;
}

.jumbotron {
    margin-top: 4em;
}

.carousel-inner>.carousel-item>img {
    margin: auto;
}

.card {
    height: 100%;
    border-color: #53a7ea;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: inset 0 0 10px #53a7ea;
}

.text-inverse {
    color: #fff;
}

.btn-group {
    display: flex;
}
