@import url('https://fonts.googleapis.com/css?family=Jura&subset=cyrillic');

* {
	font-family: Jura, sans-serif;
}

body {
	background-image: url(../images/background.jpg);
}

.table td {
	text-align: center;
}

.table td:nth-child(1) {
	text-align: left;
}


/*
li {
    white-space: nowrap;
}

@media (max-width: 48em) {

    li {
        font-size: 0.75rem;
    }

}*/
