@import url('https://fonts.googleapis.com/css?family=Jura&subset=cyrillic');

@media (max-width: 48em) {
	.font-scale {
		font-size: 0.75rem;
		font-size: 3.5vw;
	}
}

* {
	font-family: Jura, sans-serif;
}

body {
	background-image: url(../images/background.jpg);
}

table {
	text-align: center;
}

table td:nth-child(1) {
	text-align: left;
}

.jumbotron {
	border-color: #53a7ea;
	transition: box-shadow 0.3s ease;
}

.jumbotron:hover {
	box-shadow: inset 0 0 10px #53a7ea;
}

.text-inverse {
	color: #fff;
}
